nav.navbar {
    background: linear-gradient(90deg, #004e92, #000428);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #0084f0 !important; 
  }
  
  button {
    font-weight: bold;
  }
  
  button.btn-primary {
    color: #ffffff; 
  }
  
  button.btn-outline-light {
    border: 2px solid #ffffff;
  }
  
  img.rounded-circle {
    border: 2px solid #fff;
  }
  