<div class="containerr">
    <a href=""><span class="title">EventLife</span></a>
</div>

<div class=" d-flex justify-content-center align-items-center vh-100">
    <div class="row border w-75 box" >
      <div class="">
        <form>
          <h3>Registrate a Eventlife</h3>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">No compartas tus datos con nadie.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary ">Registrarse</button>
        </form>
      </div>
    </div>
  </div>