<main>

    <nav class="navbar navbar-expand-lg top-0 w-100" style="background-color: #e3f2fd;">
        <div class="container-fluid">
    
          <h3 class="navbar-brand">Eventos creados</h3>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>    
          </div>

          <div class="d-grid gap-4 d-md-flex justify-content-md-end">
            <a href="/profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Avatar" class="rounded-circle" style="width: 40px; height: 40px;" >
            </a>
      </div>

        </div>
      </nav>

<div class="container mt-4">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre del Evento</th>
          <th scope="col">Fecha</th>
          <th scope="col">Ubicación</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ evento.title }}</td>
          <td>{{ evento.date | date: 'mediumDate' }}</td>
          <td>{{ evento.location }}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2" (click)="editEvent(evento.id!)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="borrarEvent(evento.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>

