<div class="containerr">
  <a href=""><span class="title">EventLife</span></a>
</div>

<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="row border w-75" >
      <div class="col-md-6 border-right d-flex align-items-center justify-content-center left">
        <form [formGroup]="formLogin">
          <h3>Bienvenido a Eventlife</h3>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
            <div id="emailHelp" class="form-text">No compartas tus datos con nadie.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button type="button" class="btn btn-primary" (click)="iniciarSesion()">Entrar</button>
        </form>
      </div>
      <div class="col-md-6 text-center d-flex flex-column justify-content-center right">
        <p class="h5">¿Aún no tienes una cuenta?</p>
        <p class="fw-light">¡Regístrate hoy y comienza a disfrutar de todos los beneficios que ofrecemos!</p>
        <a href="register"  class="text-white fw-bold text-decoration-none">Registrarse!</a>
      </div>
    </div>
  </div>