<main class="main-first">

  <app-header></app-header>

  <section class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container text-center">


      <div class="mb-5">
        <h1 class="display-4 font-weight-bold text-primary">EventLife</h1>
        <p class="lead text-muted">
          Crea eventos inolvidables o encuentra las mejores entradas para los eventos más emocionantes.
        </p>
      </div>


      <div class="d-flex justify-content-center">
        <form class="form-inline w-100 d-flex">
          <input type="text" class="form-control form-control-lg mr-2" placeholder="Buscar eventos" [(ngModel)]="terminoBusqueda" name="terminoBusqueda"/>
          <button type="button" class="btn btn-primary btn-lg ms-2" (click)="buscarEventos()">
            Buscar
          </button>
        </form>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
      <div *ngIf="events.length > 0" class="mt-4">
        <h2>Resultados de la búsqueda:</h2>
        <ul class="list-group">
          <li *ngFor="let event of events" class="list-group-item">
            {{ event.title }} - {{ event.date | date }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Sección de eventos populares -->
  <app-popular-events></app-popular-events>

  <!-- Sección secundaria: Crear evento / Comprar tickets -->
  <section class="min-vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4">
          <app-crear-event></app-crear-event>
        </div>
        <div class="col-lg-6 mb-4">
          <app-buy-ticket></app-buy-ticket>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</main>